In [1]:
from leaderboard import *

## Alle Parts 2 (Sekunden)

In [2]:
data = load_data(leaderboard_id=976545, year=2024)
data

                        1      2      3     4     5
2906501               240  23247    872   349  2498
3309362               238   6094   <NA>  <NA>  <NA>
999754                321   <NA>   <NA>  <NA>  <NA>
attoPascal            303   2703   2189  1698  1558
Belim                 246   1864    839   928  1865
Bene-dykt            1061  44036    382  1193  1777
Bernhard Fruhwirth    494   4209   1856  1020  2395
cluosh               <NA>   <NA>    411  <NA>  <NA>
DavVader123           526   4812    903  2138  1949
emxchu                459   3418  29966  <NA>  <NA>
FelixSH               507   <NA>   <NA>  <NA>  <NA>
felpower              173   <NA>   <NA>  <NA>  <NA>
Flowy                 573   1443   7302   821  1002
Godototot             617   2568   1980  1495  <NA>
Gojira321            1941   1005   1203   932  <NA>
JohnBryte             520   4582   7437  3703  <NA>
JustAlittleWolf       217    952    220   769   801
KahootMaster69        249   <NA>   <NA>  <NA>  <NA>
Kirsho               1070   <NA>   <NA>  <NA>  <NA>
McMiTb                834   1665  56723  <NA>  <NA>
memoriesadrift        744    670    342  1120   698
michalrzak            953   7041    468  1089  1332
mirrdj               1102   <NA>   2144  1813  <NA>
mrgopes              2345   1050    880   595  1307
msonnberger           122    709    584   609   831
Nico                  418   3519   <NA>  <NA>  <NA>
noxeee               2419   1408   7722  <NA>  4508
Pmauve                215  49530   1011  <NA>  <NA>
R3TRO               24177   2782    353   288  <NA>
Raphael Tarita        204   2353    452   504  <NA>
renrok               1142   <NA>   <NA>  <NA>  <NA>
reputation            381  19972    797   434   692
rmezameza            1365   <NA>   <NA>  <NA>  <NA>
RogueRefiner          454  15413   1975  1699  3840
Salominius            144   2431    797   252   799
Sanjay                837   2975   2463  1187  2128
steuerfahnder          21   3582   <NA>  <NA>  <NA>
thoosequa             661  34444  74663  1927  <NA>
Triarier              280    944   7657   435  2661
Vonuras               131     54    940   604   791
Zsivony1es            849   2897   1858   261  <NA>

## Part 2 Leaderboard

In [3]:
points(data).head(20)

    pts                name
1   181         msonnberger
2   180     JustAlittleWolf
3   179             Vonuras
4   178          Salominius
5   160      memoriesadrift
6   152               Belim
7   151          reputation
8   143            Triarier
9   139             2906501
10  137      Raphael Tarita
11  136             mrgopes
12  133               Flowy
13  127          attoPascal
14  121          michalrzak
15  120  Bernhard Fruhwirth
16  113           Bene-dykt
17  111         DavVader123
18  107              Sanjay
19  106               R3TRO
20  105        RogueRefiner

## Sekunden für Day 16, Part 2

In [4]:
seconds_latest_day(data)

                       5
reputation           692
memoriesadrift       698
Vonuras              791
Salominius           799
JustAlittleWolf      801
msonnberger          831
Flowy               1002
mrgopes             1307
michalrzak          1332
attoPascal          1558
Bene-dykt           1777
Belim               1865
DavVader123         1949
Sanjay              2128
Bernhard Fruhwirth  2395
2906501             2498
Triarier            2661
RogueRefiner        3840
noxeee              4508

## Minuten für alle Parts 2

In [5]:
sum_seconds(data) // 60

                      0
Vonuras              42
msonnberger          47
JustAlittleWolf      49
memoriesadrift       59
Salominius           73
Belim                95
mrgopes             102
attoPascal          140
Sanjay              159
Bernhard Fruhwirth  166
DavVader123         172
michalrzak          181
Flowy               185
Triarier            199
reputation          371
RogueRefiner        389
2906501             453
Bene-dykt           807