In [51]:
import pandas as pd
import requests
from collections import defaultdict
from pathlib import Path

In [52]:
year = 2021
leaderboard_id = 976545
token_path = Path.home() / '.config/aocd/token'

In [53]:
with open(token_path) as f:
    token = f.read().strip()

cookies = {'session': token}
response = requests.get(f'https://adventofcode.com/{year}/leaderboard/private/view/{leaderboard_id}.json', cookies=cookies)
j = response.json()

In [54]:
time_diffs = defaultdict(lambda: defaultdict(str))

for id, member in j['members'].items():
    name = member['name'] if member['name'] else id
    for day, times in member['completion_day_level'].items():
        if '1' in times and '2' in times:
            time_diffs[name][int(day)] = int(times['2']['get_star_ts']) - int(times['1']['get_star_ts'])

In [55]:
df = pd.DataFrame.from_dict(time_diffs, orient='index')
df.sort_index(key=lambda x: x.str.lower(), inplace=True)
df.sort_index(axis=1, inplace=True)

In [56]:
df

                            1       2        3
1014573                 963.0   246.0   1933.0
1047131                   NaN   245.0      NaN
1139456                 808.0   151.0  16775.0
1495816                4343.0   219.0      NaN
1525642                1379.0   240.0   2014.0
1547063               51612.0   316.0      NaN
1603729                 135.0   655.0   9390.0
1614144                  16.0  1407.0     65.0
1625081                1848.0   553.0      NaN
3lacki                 2123.0    18.0      NaN
403602                41672.0     NaN      NaN
999754                  479.0   393.0   4021.0
attoPascal              238.0   211.0    773.0
Azratosh              12649.0  3918.0   2362.0
David Wild             1224.0   197.0   2384.0
Der_Himbeerkuchen       579.0  3333.0   1624.0
devgertschi             122.0   145.0   1327.0
Dominik                1923.0   215.0   4687.0
Ebit Daddy              408.0   224.0  11463.0
felpower                379.0   366.0    401.0
finno22                3819.0  6861.0      NaN
Grarak                  561.0   135.0      NaN
Hablam                  304.0   242.0      NaN
Hainkinho               852.0   306.0   1275.0
hilmar05                609.0   243.0      NaN
KaNaDaAT                639.0   212.0   2154.0
Katakompe               329.0   581.0   1957.0
marc1729                612.0   236.0   7398.0
Maurice03             18792.0  2889.0      NaN
michalrzak              467.0   178.0   6822.0
Mike15423              1029.0   298.0   3951.0
Mikeos42               6216.0     NaN      NaN
MorThu                  638.0   281.0   1021.0
NotsoblackReaper        957.0    97.0   2660.0
profoundspreadsheets   1898.0   603.0   5850.0
RaphaelTarita           596.0   543.0   1131.0
reputation1209          947.0   489.0   6836.0
rmezameza              1931.0   410.0      NaN
S-ecki                  536.0     7.0   2518.0
Salominius              164.0   486.0   5916.0
Samuel Šulovský        1329.0   508.0   3106.0
Sanjay                  114.0    97.0    910.0
st1fado                 525.0   328.0  13996.0
stuck_in_head            20.0    18.0   3907.0
thoosequa               346.0   178.0  10780.0
Triarier                257.0   367.0   1215.0
underway                302.0   132.0   1546.0
Yorarasu               5509.0   273.0      NaN
zoidberg77              147.0   323.0   2649.0

In [57]:
num_members, num_days = df.shape
points = pd.Series(index=df.index, dtype=int)

for day in range(1, num_days+1):
    max_points = num_members
    for name, time in df[day].sort_values().iteritems():
        if not pd.isna(time):
            points[name] += max_points
            max_points -= 1

In [58]:
points.sort_values(ascending=False)

Sanjay                  139
devgertschi             129
attoPascal              126
underway                124
stuck_in_head           124
S-ecki                  112
1614144                 105
felpower                103
Triarier                102
zoidberg77               96
NotsoblackReaper         95
thoosequa                95
michalrzak               95
KaNaDaAT                 95
MorThu                   95
David Wild               88
Hainkinho                87
Ebit Daddy               85
Katakompe                85
1014573                  84
RaphaelTarita            84
1525642                  82
Salominius               81
1139456                  79
marc1729                 78
999754                   76
Grarak                   73
Der_Himbeerkuchen        73
1603729                  72
Dominik                  72
Mike15423                69
Hablam                   69
st1fado                  68
Samuel Šulovský          58
3lacki                   57
hilmar05                 56
reputation1209           56
profoundspreadsheets     46
Azratosh                 43
1495816                  42
Yorarasu                 33
1047131                  28
rmezameza                27
1625081                  25
1547063                  24
finno22                  12
Maurice03                10
Mikeos42                  6
403602                    3
dtype: int64