In [6]:
from leaderboard import *

## Alle Parts 2 (Sekunden)

In [7]:
data = load_data(leaderboard_id=976545, year=2023)
data

                       1      2       3      4      5     6      7      8
2281794             <NA>   1049    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
3309362             4470    734    1587   1333   7970   393    977   3333
3376741             1548   <NA>    <NA>   2705   <NA>  <NA>   <NA>   <NA>
3lacki             18222   <NA>    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
740740              7287  39773    1965   2145   <NA>  <NA>   <NA>   <NA>
999754              6110   <NA>    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
@emioderso         14007   1929    <NA>   <NA>   <NA>   429   <NA>   <NA>
attoPascal          1592    295     425   1525   4403   538  26905   1128
Bene-dykt             30    329    3871   <NA>   <NA>  <NA>   <NA>   <NA>
bieroeffner       236959   2743    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
bu19akov            3471    279    2318    252   1532   160     13    617
cinado              2647   1254    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
Cl3mensM           92362    988    5040   3488  39619  1177   1796   <NA>
clemy               1187    614    1683  11622   1901   679   7884   5966
cluosh              3525    569    2432   2809  89673  1718   <NA>   <NA>
dakralex           71610   <NA>    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
DanielFichter      13910   1130    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
David Wild          2011    363     427    762   3808   487   <NA>   <NA>
DavVader123        23502   1116    <NA>   <NA>   <NA>   187   <NA>   <NA>
drizzelat           1466    204    1525   1217  35871   121    597   <NA>
evelynforkhands     9038    456    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
FelixSH            19703    747   14225  24285  13302   691   2828   <NA>
felpower            3413    528    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
fwoerister          2519    489   17562   5367  33826    53   1777   2482
Godototot           1628    238     893   1310  10585   664   <NA>   <NA>
h19x5               7420   <NA>   23592   <NA>  15211   360   <NA>   <NA>
JohnBryte          36085   1142    6607   2699  17486   325   2185  10471
JustAlittleWolf      306    174     232    709  14232   665    841   1800
KahootMaster69     84491    684    2526    918   <NA>  <NA>   <NA>   <NA>
KaNaDaAT            8707   6869    1232   2337   <NA>  <NA>   <NA>   <NA>
Kirshoo             3396    977   14023  19238   <NA>  <NA>   <NA>   <NA>
lisa94fc            3530   2834    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
McMiTb              3377   <NA>    <NA>   1367  40943   347   <NA>   <NA>
memoriesadrift      3834    276     379   1368   6077   256   2611   1806
mollpo              3352   2283    <NA>   6834   <NA>  <NA>   <NA>   <NA>
msonnberger          269    273     122   1881  24258   196   2827    964
Nico                1650    328  379503   1848   <NA>  <NA>   <NA>   <NA>
NotsoblackReaper    1539    213    2692   1195   4195   451    362   <NA>
ocatias             1011   <NA>    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
Pmauve             10468    699     948   1226  59006   690   <NA>   <NA>
RaphaelTarita       1163    860    3769   1145   1474   274    613   <NA>
renrok              4624    784    <NA>   5457   <NA>  <NA>   <NA>   <NA>
reputation          2238    413    1923   2162  47378   264   1906  12349
RogueRefiner        4631    339    <NA>   4416   <NA>  <NA>   <NA>   <NA>
S-ecki              1286    673    4433   1045  30300   527  20413   <NA>
Salominius          3969    482    1889   1304   5529  1316   2766  16910
Sanjay            185054   2226    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
squared-isopod      1024    393    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
steuerfahnder      35858   1438    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
TechnikTobi         4155    213     659   6382   1184  <NA>   <NA>   <NA>
Teslaisoverrated    8158    433   19681   1920  22997  2634  22015   <NA>
thoosequa           6864    321    <NA>   1297   <NA>  <NA>   <NA>   <NA>
tomabungis45        1289   <NA>    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
ungolas           115944   2010    <NA>   <NA>   <NA>  <NA>   <NA>   <NA>
vanesa basheva     45950   1912     165   6423   4710   256   <NA>   <NA>
Vonuras             1509    307     514    607   5518   158     15   1581
zhekemist           3684    572    1109   1221   5777   294   1300   1491

## Part 2 Leaderboard

In [8]:
points(data).head(20)

    pts              name
1   415           Vonuras
2   404   JustAlittleWolf
3   402          bu19akov
4   392       msonnberger
5   368        attoPascal
6   367    memoriesadrift
7   357         zhekemist
8   343         drizzelat
9   335  NotsoblackReaper
10  331        reputation
11  330           3309362
12  328             clemy
13  324        fwoerister
14  321        Salominius
15  321     RaphaelTarita
16  283        David Wild
17  283            S-ecki
18  272         JohnBryte
19  270         Godototot
20  230  Teslaisoverrated

## Sekunden für Day 8, Part 2

In [9]:
seconds_latest_day(data)

                     8
bu19akov           617
msonnberger        964
attoPascal        1128
zhekemist         1491
Vonuras           1581
JustAlittleWolf   1800
memoriesadrift    1806
fwoerister        2482
3309362           3333
clemy             5966
JohnBryte        10471
reputation       12349
Salominius       16910

## Minuten für alle Parts 2

In [10]:
sum_seconds(data) // 60

                    0
bu19akov          144
Vonuras           170
zhekemist         257
memoriesadrift    276
JustAlittleWolf   315
3309362           346
msonnberger       513
clemy             525
Salominius        569
attoPascal        613
fwoerister       1067
reputation       1143
JohnBryte        1283