In [1]:
from leaderboard import *

## Alle Parts 2 (Sekunden)

In [2]:
data = load_data(leaderboard_id=976545, year=2024)
data

,1,2,3,4,5,6,7,8,9,10,11,12,13
3309362,238,6094,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
999754,321,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
attoPascal,303,2703,2189,1698,1558,36577,348,184,5433,13,3783,12901,125
Belim,246,1864,839,928,1865,11227,742,654,9048,424,1668,7736,<NA>
Bene-dykt,1061,44036,382,1193,1777,4011,36294,928,3791,150,3042,33305,<NA>
berni664,494,4209,1856,1020,2395,8410,1107,1232,25898,543,5761,<NA>,<NA>
cluosh,<NA>,<NA>,411,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
DavVader123,526,4812,903,2138,1949,4523,3618,5205,6111,197,6858,12106,<NA>
emxchu,459,3418,29966,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
FelixSH,507,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
felpower,173,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
Flowy,573,1443,7302,821,1002,124431,736,<NA>,<NA>,1733,<NA>,<NA>,<NA>
fwoerister,240,23247,872,349,2498,8700,135,814,13115,1078,2417,3686,<NA>
Godototot,617,2568,1980,1495,<NA>,<NA>,372,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
Gojira321,1941,1005,1203,932,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
JohnBryte,520,4582,7437,3703,48104,14021,4310,16756,4238,88,55426,<NA>,<NA>
JustAlittleWolf,217,952,220,769,801,923,79,1044,1207,398,540,1134,1067
KahootMaster69,249,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
Kirsho,1070,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
McMiTb,834,1665,56723,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
memoriesadrift,744,670,342,1120,698,6750,1326,819,1730,1099,4238,2741,85
michalrzak,953,7041,468,1089,1332,13155,3743,482,1928,104,1372,3574,195
mirrdj,1102,<NA>,2144,1813,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
mrgopes,2345,1050,880,595,1307,63329,1972,3076,<NA>,<NA>,<NA>,<NA>,<NA>
msonnberger,122,709,584,609,831,764,74205,653,2366,52,1153,2371,2681
Nico,418,3519,1099,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
noxeee,2419,1408,7722,<NA>,4508,<NA>,19749,6109,42986,<NA>,30,<NA>,<NA>
Pmauve,215,49530,1011,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
R3TRO,24177,2782,353,288,1835,4496,983,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
Raphael Tarita,204,2353,452,504,19279,2121,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
renrok,1142,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
reputation,381,19972,797,434,692,36259,316,1409,32876,2718,23448,<NA>,<NA>
rmezameza,1365,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
RogueRefiner,454,15413,1975,1699,3840,21394,15488,2438,53966,18902,6957,<NA>,<NA>
Salominius,144,2431,797,252,799,16410,133,193,5159,226,1218,7826,<NA>
Sanjay,837,2975,2463,1187,2128,8709,870,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
steuerfahnder,21,3582,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
thoosequa,661,34444,74663,1927,45304,5100,699,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
Triarier,280,944,7657,435,2661,3431,197,175,9957,495,<NA>,<NA>,<NA>
Vonuras,131,54,940,604,791,389,94,233,10756,51,1419,411,148
zoidberg77,386,117,253,571,140,2761,224,70,<NA>,<NA>,<NA>,<NA>,<NA>
Zsivony1es,849,2897,1858,261,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## Part 2 Leaderboard

In [3]:
points(data).head(20)

    pts             name
1   493          Vonuras
2   491  JustAlittleWolf
3   474      msonnberger
4   435   memoriesadrift
5   429       Salominius
6   408       attoPascal
7   402       michalrzak
8   384            Belim
9   375       fwoerister
10  342        Bene-dykt
11  329      DavVader123
12  324       reputation
13  323         Triarier
14  302       zoidberg77
15  298         berni664
16  265        JohnBryte
17  258     RogueRefiner
18  212            Flowy
19  210          mrgopes
20  201            R3TRO

## Sekunden für aktuellen Tag, Part 2

In [4]:
seconds_latest_day(data)

                   13
memoriesadrift     85
attoPascal        125
Vonuras           148
michalrzak        195
JustAlittleWolf  1067
msonnberger      2681

## Minuten für alle Parts 2

In [5]:
sum_seconds(data) // 60

                    0
JustAlittleWolf   155
Vonuras           267
memoriesadrift    372
michalrzak        590
attoPascal       1130
msonnberger      1451