In [1]:
from leaderboard import *

## Alle Parts 2 (Sekunden)

In [2]:
data = load_data(leaderboard_id=976545, year=2024)
data

                     1      2      3     4      5       6      7
3309362            238   6094   <NA>  <NA>   <NA>    <NA>   <NA>
999754             321   <NA>   <NA>  <NA>   <NA>    <NA>   <NA>
attoPascal         303   2703   2189  1698   1558   36577    348
Belim              246   1864    839   928   1865   11227    742
Bene-dykt         1061  44036    382  1193   1777    4011  36294
berni664           494   4209   1856  1020   2395    8410   1107
cluosh            <NA>   <NA>    411  <NA>   <NA>    <NA>   <NA>
DavVader123        526   4812    903  2138   1949    4523   3618
emxchu             459   3418  29966  <NA>   <NA>    <NA>   <NA>
FelixSH            507   <NA>   <NA>  <NA>   <NA>    <NA>   <NA>
felpower           173   <NA>   <NA>  <NA>   <NA>    <NA>   <NA>
Flowy              573   1443   7302   821   1002  124431   <NA>
fwoerister         240  23247    872   349   2498    8700    135
Godototot          617   2568   1980  1495   <NA>    <NA>    372
Gojira321         1941   1005   1203   932   <NA>    <NA>   <NA>
JohnBryte          520   4582   7437  3703  48104   14021   <NA>
JustAlittleWolf    217    952    220   769    801     923     79
KahootMaster69     249   <NA>   <NA>  <NA>   <NA>    <NA>   <NA>
Kirsho            1070   <NA>   <NA>  <NA>   <NA>    <NA>   <NA>
McMiTb             834   1665  56723  <NA>   <NA>    <NA>   <NA>
memoriesadrift     744    670    342  1120    698    6750   1326
michalrzak         953   7041    468  1089   1332   13155   3743
mirrdj            1102   <NA>   2144  1813   <NA>    <NA>   <NA>
mrgopes           2345   1050    880   595   1307   63329   1972
msonnberger        122    709    584   609    831     764   <NA>
Nico               418   3519   1099  <NA>   <NA>    <NA>   <NA>
noxeee            2419   1408   7722  <NA>   4508    <NA>  19749
Pmauve             215  49530   1011  <NA>   <NA>    <NA>   <NA>
R3TRO            24177   2782    353   288   1835    4496   <NA>
Raphael Tarita     204   2353    452   504  19279    2121   <NA>
renrok            1142   <NA>   <NA>  <NA>   <NA>    <NA>   <NA>
reputation         381  19972    797   434    692   36259    316
rmezameza         1365   <NA>   <NA>  <NA>   <NA>    <NA>   <NA>
RogueRefiner       454  15413   1975  1699   3840   21394  15488
Salominius         144   2431    797   252    799   16410    133
Sanjay             837   2975   2463  1187   2128    8709   <NA>
steuerfahnder       21   3582   <NA>  <NA>   <NA>    <NA>   <NA>
thoosequa          661  34444  74663  1927   <NA>    <NA>   <NA>
Triarier           280    944   7657   435   2661    3431    197
Vonuras            131     54    940   604    791     389     94
zoidberg77         386    117    253   571    140    <NA>   <NA>
Zsivony1es         849   2897   1858   261   <NA>    <NA>   <NA>

## Part 2 Leaderboard

In [3]:
points(data).head(20)

    pts             name
1   264          Vonuras
2   264  JustAlittleWolf
3   247       Salominius
4   226   memoriesadrift
5   223      msonnberger
6   219         Triarier
7   216            Belim
8   215       reputation
9   211       fwoerister
10  199   Raphael Tarita
11  190          mrgopes
12  187       attoPascal
13  185       zoidberg77
14  184         berni664
15  179       michalrzak
16  176        Bene-dykt
17  175      DavVader123
18  173            R3TRO
19  157     RogueRefiner
20  154            Flowy

## Sekunden für aktuellen Tag, Part 2

In [4]:
seconds_latest_day(data)

                     7
JustAlittleWolf     79
Vonuras             94
Salominius         133
fwoerister         135
Triarier           197
reputation         316
attoPascal         348
Godototot          372
Belim              742
berni664          1107
memoriesadrift    1326
mrgopes           1972
DavVader123       3618
michalrzak        3743
RogueRefiner     15488
noxeee           19749
Bene-dykt        36294

## Minuten für alle Parts 2

In [5]:
sum_seconds(data) // 60

                    0
Vonuras            50
JustAlittleWolf    66
memoriesadrift    194
Triarier          260
Belim             295
DavVader123       307
berni664          324
Salominius        349
michalrzak        463
fwoerister        600
attoPascal        756
reputation        980
RogueRefiner     1004
mrgopes          1191
Bene-dykt        1479