In [1]:
import pandas as pd
import requests
from collections import defaultdict
from pathlib import Path

In [2]:
year = 2022
leaderboard_id = 976545
token_path = Path.home() / '.config/aocd/token'

In [3]:
with open(token_path) as f:
    token = f.read().strip()

cookies = {'session': token}
headers = {'User-Agent': 'github.com/attoPascal'}
response = requests.get(f'https://adventofcode.com/{year}/leaderboard/private/view/{leaderboard_id}.json', cookies=cookies, headers=headers).json()

In [4]:
time_diffs = defaultdict(lambda: defaultdict(str))

for id, member in response['members'].items():
    name = member['name'] if member['name'] else id
    for day, times in member['completion_day_level'].items():
        if '1' in times and '2' in times:
            time_diffs[name][int(day)] = times['2']['get_star_ts'] - times['1']['get_star_ts']

In [5]:
df = pd.DataFrame.from_dict(time_diffs, orient='index', dtype='Int64')
df.sort_index(key=lambda x: x.str.lower(), inplace=True)
df.sort_index(axis=1, inplace=True)
df

                         1      2       3     4      5     6
2316524               3353   <NA>    <NA>  <NA>   <NA>  <NA>
740740                1001    976    7452   325  47268   148
999754                 434   1572     680   750    770  <NA>
Alex Ji                914    530    <NA>  <NA>   <NA>  <NA>
attoPascal             117    513     444   267    394    40
Azratosh               120    103     247   181    456    49
benjo121ben            419    952     222  1083    325   107
Benni S                475    788    2688   276    628  <NA>
christoph-det          327   1989    4482   166    988   140
cluosh                 118   9870     251    72     84    38
David Mikan            238    538     617    52    299    38
David Wild             527   1231    2743   364    120   132
Der_Himbeerkuchen      908    742    1201    90     67    80
devgertschi            149    338     611   387    135  <NA>
einoeI                 466    500     580   883   <NA>  <NA>
felpower               331    163     740    90     51   805
fritzz98               893    831    4521   480   2518    89
Gabriel Burger         194    678    <NA>   757   <NA>  <NA>
Godototot              380    359    1181   647    194   156
Grarak                 150   1323    <NA>  <NA>   <NA>  <NA>
h19x5                 2793   2831    8293  9570   <NA>  <NA>
Hablam                 201    388     722   324    303   111
Hainkinho               98    914     510   318    125    48
hanybunni             2151   1919     876   182   <NA>  <NA>
holyghosst              54    546    1184  1137   <NA>  <NA>
Ilja Golovanov         473    636    2621   253   <NA>  <NA>
JohnBryte              857    663    1705   109     98    44
KahootMaster69         389  87043     734    70    388  <NA>
KaNaDaAT               534   1138    <NA>  <NA>   <NA>  <NA>
Katakompe              352    703    1323   547   1366    57
mani1709               182   <NA>    <NA>  <NA>   <NA>  <NA>
marc1729               123    791    <NA>  <NA>   <NA>  <NA>
Mathematiker          <NA>    185    <NA>  <NA>   <NA>  <NA>
McMiTb                2977    568    1247  1243   1691   113
memoriesadrift         244    668     899   141   2831  <NA>
michalrzak             639    374    2458   468    201   329
mirrdj                1740   3422    2538  1721    582   209
msonnberger            128    312     334   200    360    97
NotsoblackReaper       437    456     329   405     79    62
ocatias                259    459     753   324     37  <NA>
profoundspreadsheets  2367   1794    2153   668   <NA>  <NA>
RaphaelTarita           74    756     174    78    481    53
reputation             269    504     759   877    789    81
rmezameza              852  60948  179105  <NA>   <NA>  <NA>
RogueRefiner          1401   1234    2793   210   1072  <NA>
S-ecki                 174    485     667   378    205    36
Salominius             372    349     789   240    386    98
Sanjay                 135   1202     275   677     60    74
st1fado                304    786     907  1465   1248    93
TechnikTobi            270    250     577   165    242    44
Teslaisoverrated      1073   2370    4173   222   5862   119
thoosequa              175    352     801   261    150   107
tomato-alex            464   1039    5908  1476    190    45
Triarier               109   <NA>    <NA>  <NA>   <NA>  <NA>
Viktoria Siigur        201   1495   20527  1745   <NA>  <NA>
vittoboa                88    415     252    70   <NA>  <NA>
yvonne danzinger       356   1032    <NA>  <NA>   <NA>  <NA>

In [6]:
num_members, num_days = df.shape
points = pd.Series(0, index=df.index, dtype=int)

for day in range(num_days):
    points_awarded = num_members
    for name, time in df[day+1].sort_values().items():
        if not pd.isna(time):
            points[name] += points_awarded
            points_awarded -= 1

In [7]:
# part 2 leaderboard
leaderboard = points.sort_values(ascending=False).to_frame().reset_index()
leaderboard.index += 1
leaderboard.columns = ['name', 'pts']
leaderboard = leaderboard[['pts', 'name']]
leaderboard.head(20)

    pts               name
1   291           Azratosh
2   278        TechnikTobi
3   276      RaphaelTarita
4   273        msonnberger
5   273             cluosh
6   273        David Mikan
7   268         attoPascal
8   261           felpower
9   261          Hainkinho
10  261             S-ecki
11  252          thoosequa
12  247   NotsoblackReaper
13  240             Sanjay
14  239             Hablam
15  232         Salominius
16  227          JohnBryte
17  221        devgertschi
18  220  Der_Himbeerkuchen
19  210           vittoboa
20  209            ocatias

In [8]:
# seconds for each part 2
df.loc['attoPascal'].to_frame()

   attoPascal
1         117
2         513
3         444
4         267
5         394
6          40

In [9]:
# seconds for latest part 2
df.iloc[:, -1].dropna().sort_values().to_frame()

                     6
S-ecki              36
cluosh              38
David Mikan         38
attoPascal          40
TechnikTobi         44
JohnBryte           44
tomato-alex         45
Hainkinho           48
Azratosh            49
RaphaelTarita       53
Katakompe           57
NotsoblackReaper    62
Sanjay              74
Der_Himbeerkuchen   80
reputation          81
fritzz98            89
st1fado             93
msonnberger         97
Salominius          98
thoosequa          107
benjo121ben        107
Hablam             111
McMiTb             113
Teslaisoverrated   119
David Wild         132
christoph-det      140
740740             148
Godototot          156
mirrdj             209
michalrzak         329
felpower           805

In [10]:
# sum for all parts 2
df.sum(axis=1, skipna=False).dropna().sort_values().to_frame() # / 3600

                       0
Azratosh            1156
msonnberger         1431
TechnikTobi         1548
RaphaelTarita       1616
NotsoblackReaper    1768
attoPascal          1775
David Mikan         1782
thoosequa           1846
S-ecki              1945
Hainkinho           2013
Hablam              2049
felpower            2180
Salominius          2234
Sanjay              2423
Godototot           2917
Der_Himbeerkuchen   3088
benjo121ben         3108
reputation          3279
JohnBryte           3476
Katakompe           4348
michalrzak          4469
st1fado             4803
David Wild          5117
McMiTb              7839
christoph-det       8092
tomato-alex         9122
fritzz98            9332
mirrdj             10212
cluosh             10433
Teslaisoverrated   13819
740740             57170