In [56]:
import pandas as pd
import requests
from collections import defaultdict
from pathlib import Path

In [57]:
year = 2022
leaderboard_id = 976545
token_path = Path.home() / '.config/aocd/token'

In [58]:
with open(token_path) as f:
    token = f.read().strip()

cookies = {'session': token}
headers = {'User-Agent': 'github.com/attoPascal'}
response = requests.get(f'https://adventofcode.com/{year}/leaderboard/private/view/{leaderboard_id}.json', cookies=cookies, headers=headers).json()

In [59]:
time_diffs = defaultdict(lambda: defaultdict(str))

for id, member in response['members'].items():
    name = member['name'] if member['name'] else id
    for day, times in member['completion_day_level'].items():
        if '1' in times and '2' in times:
            time_diffs[name][int(day)] = int(times['2']['get_star_ts']) - int(times['1']['get_star_ts'])

In [60]:
df = pd.DataFrame.from_dict(time_diffs, orient='index', dtype='Int64')
df.sort_index(key=lambda x: x.str.lower(), inplace=True)
df.sort_index(axis=1, inplace=True)

In [61]:
df

                         1      2     3     4     5
1139456                 18    258   160   163    11
1614144                 68      7    32    61   577
2316524               3353   <NA>  <NA>  <NA>  <NA>
740740                1001    976  7452   325  <NA>
999754                 434   1572   680   750  <NA>
Alex Ji                914    530  <NA>  <NA>  <NA>
attoPascal             117    513   444   267   394
Azratosh               120    103   247   181   456
benjo121ben            419    952   222  1083  <NA>
Benni S                475    788  2688   276   628
christoph-det          327   1989  4482   166   988
cluosh                 118   9870   251    72    84
David Mikan            238    538   617    52   299
David Wild             527   1231  2743   364   120
Der_Himbeerkuchen      908    742  1201    90    67
devgertschi            149    338   611   387   135
einoeI                 466    500   580  <NA>  <NA>
felpower               331    163   740    90    51
fritzz98               893    831  4521   480  2518
Gabriel Burger         194    678  <NA>  <NA>  <NA>
Godototot              380    359  1181   647   194
Grarak                 150   1323  <NA>  <NA>  <NA>
h19x5                 2793   2831  8293  9570  <NA>
Hablam                 201    388   722   324   303
Hainkinho               98    914   510   318  <NA>
hanybunni             2151   1919   876   182  <NA>
holyghosst              54    546  1184  <NA>  <NA>
Ilja Golovanov         473    636  2621   253  <NA>
JohnBryte              857    663  1705   109    98
KahootMaster69         389  87043   734    70   388
KaNaDaAT               534   1138  <NA>  <NA>  <NA>
Katakompe              352    703  1323   547  1366
mani1709               182   <NA>  <NA>  <NA>  <NA>
marc1729               123    791  <NA>  <NA>  <NA>
Mathematiker          <NA>    185  <NA>  <NA>  <NA>
McMiTb                2977    568  1247  1243  1691
memoriesadrift         244    668   899   141  2831
michalrzak             639    374  2458   468   201
mirrdj                1740   3422  2538  1721  <NA>
msonnberger            128    312   334   200   360
NotsoblackReaper       437    456   329   405    79
ocatias                259    459   753   324  <NA>
profoundspreadsheets  2367   1794  2153   668  <NA>
RaphaelTarita           74    756   174    78   481
reputation             269    504   759   877   789
rmezameza              852   <NA>  <NA>  <NA>  <NA>
RogueRefiner          1401   1234  2793   210  <NA>
S-ecki                 174    485   667   378   205
Salominius             372    349   789   240   386
Sanjay                 135   1202   275   677  <NA>
st1fado                304    786   907  1465  <NA>
TechnikTobi            270    250   577   165   242
Teslaisoverrated      1073   2370  4173   222  5862
thoosequa              175    352   801   261   150
tomato-alex            464   1039  5908  1476   190
Triarier               109   <NA>  <NA>  <NA>  <NA>
Viktoria Siigur        201   1495  <NA>  <NA>  <NA>
vittoboa                88    415   252    70  <NA>
yvonne danzinger       356   1032  <NA>  <NA>  <NA>

In [62]:
num_members, num_days = df.shape
points = pd.Series(0, index=df.index, dtype=int)

for day in range(num_days):
    points_awarded = num_members
    for name, time in df[day+1].sort_values().iteritems():
        if not pd.isna(time):
            points[name] += points_awarded
            points_awarded -= 1

In [63]:
# part 2 leaderboard
points.sort_values(ascending=False).head(20).to_frame()

                     0
1139456            279
1614144            270
Azratosh           248
felpower           238
msonnberger        238
RaphaelTarita      234
TechnikTobi        230
devgertschi        225
David Mikan        224
cluosh             221
attoPascal         219
thoosequa          218
vittoboa           211
S-ecki             208
Hablam             206
NotsoblackReaper   204
Salominius         198
memoriesadrift     183
Godototot          181
Der_Himbeerkuchen  180

In [64]:
# seconds for each part 2
df.loc['attoPascal'].to_frame()

   attoPascal
1         117
2         513
3         444
4         267
5         394

In [65]:
# seconds for latest part 2
df.iloc[:, -1].dropna().sort_values().to_frame()

                      5
1139456              11
felpower             51
Der_Himbeerkuchen    67
NotsoblackReaper     79
cluosh               84
JohnBryte            98
David Wild          120
devgertschi         135
thoosequa           150
tomato-alex         190
Godototot           194
michalrzak          201
S-ecki              205
TechnikTobi         242
David Mikan         299
Hablam              303
msonnberger         360
Salominius          386
KahootMaster69      388
attoPascal          394
Azratosh            456
RaphaelTarita       481
1614144             577
Benni S             628
reputation          789
christoph-det       988
Katakompe          1366
McMiTb             1691
fritzz98           2518
memoriesadrift     2831
Teslaisoverrated   5862

In [66]:
# sum for all parts 2 in hours
df.sum(axis=1, skipna=False).dropna().sort_values().to_frame() / 3600

                           0
1139456             0.169444
1614144             0.206944
Azratosh              0.3075
msonnberger         0.370556
felpower            0.381944
TechnikTobi         0.417778
RaphaelTarita       0.434167
devgertschi             0.45
NotsoblackReaper    0.473889
attoPascal          0.481944
thoosequa           0.483056
David Mikan         0.484444
S-ecki              0.530278
Hablam              0.538333
Salominius          0.593333
Godototot           0.766944
Der_Himbeerkuchen   0.835556
reputation          0.888333
JohnBryte           0.953333
michalrzak              1.15
Katakompe           1.191944
memoriesadrift      1.328611
Benni S             1.348611
David Wild          1.384722
McMiTb              2.146111
christoph-det       2.208889
tomato-alex         2.521389
fritzz98              2.5675
cluosh                2.8875
Teslaisoverrated    3.805556
KahootMaster69     24.617778